* {
  box-sizing: border-box;
  font-family: 'Archivo', sans-serif; /* Tipografía Archivo */
  margin: 0;
}

body {
  background-color: #151515; /* Fondo oscuro */
  color: #ffffff; /* Texto en color blanco */
  width: 100vw;
  height: 100vh;
}

header{
  display: flex;
  background-color: #1B1B1B;
  height: 94px;
  width: 100vw;
}
.header-content {
  display: flex;
  margin: 0 auto;
  max-width: 1440px;
  width: 100%;
  justify-content: space-between;
}

.logo-container {
  align-self: center;
  margin-left: 39px;}

.logo-container img {
  width: auto;
  height: auto;
}

main {
  height: 100vh;
  padding: 0 34px;
  margin: 0 auto;
  max-width: 1440px;
}

/*#search-input {
  width: 400px;  Aumenta el tamaño del buscador según tus preferencias 
  padding: 8px;  Ajusta el padding según tus preferencias 
  padding-right: 40px; /* Añade un padding derecho para el botón de búsqueda 
}*/

.games-list-game {
  display: none;
}

/*Cards*/
/* Estilos para las tarjetas de juegos */
.game-data{
  display: flex;
  flex-flow: wrap;
  gap: 24px;
  justify-content: center;
  margin-top: -400px;
  margin-left: 200px;
}
.card {
  /*width: calc(33.33% - 20px);
  border: 1px solid #ccc;
  border-radius: 12px;
  padding: 10px;
  margin-bottom: 10px;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  margin: 10px;
  position: relative; /* Agregado para posicionar la enumeración */
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  background: #303030;
  cursor: pointer;
  padding-bottom: 20px;
  width: 373px;
}

.card img {
  width: 100%;
  height: 250px; 
  object-fit: cover;
  border-radius: 12px;
  margin-bottom: 10px;
}

.heart-container{
  position: absolute;
  right: 0;
  margin: -95px 10px;
}

.card h2 {
  margin: 15px;
  font-weight: 700;
  font-size: 24px;
}

/* Asegura que los íconos tengan el mismo tamaño */
.games-icons-container img {
  width: 20px;
  height: 20px;
  margin: 5px; 
}

.games-icons-container{
  position: absolute;
  margin-top: 310px;
  margin-left: 250px;
}

.release-label,
.genres-label {
  margin: 20px;
  font-weight: 500;
  color: #939393;
}
.release-date,
.genres-list {
  font-weight: 500;
  color: #fff;
}


.card-index {
  position: absolute;
  margin-top: 279px;
  color: #BF5FE1;
  font-weight: bold;
  font-size: 20px;
  right: 15px;
}
  
  /* Estilos para la disposición de columnas 
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}*/

/*nuevos estilos*/

/*---------------search---------------*/

.search-bar {
  display: block;
  position: relative;
  align-self: center;
  margin-right: 120px;
}

.search-bar img {
  position:absolute;
  width: 18px;
  height: 18px;
  top:15px;
  margin-left: 11px;
}

#search-input {
  width: 362px;
  height: 47px;
  border-radius: 4px;
  border-style: none;
  padding-left: 41px;
}

.container-search-games {
  width: 100%;
  height: 50%;
  position: relative;
}

.games-list {
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  width: 100%;
  position: absolute;
  top: 9px;
  background-color: #FFF;
  color: #000;
}

.games-list ul{
  padding: 0;
  margin: 0;
}

.games-list li {
  padding: 10px;
  list-style-type: none;
  cursor: pointer;
  box-sizing: border-box; /* Agregado */
}

.games-list li:hover, 
.games-list li.selected {
  background-color: #BF5FE1;
  color: #FFF;
  transition: background-color 0.3s ease;
}


hr {
  border-bottom: 0.5px solid #E1E1E4;
  opacity: 20%;
}

hr:last-child {
  display:none;
}

.side {
  display: flex;
  gap: 16px;
  margin-right: 40px;
}

.log-out {
  color: #FFF;
  text-decoration: none;
  align-self: center;
}

.avatar img {
  height: 16px;
}

.avatar-user {
 align-self: center;
}

.avatar-user img {
  width: 48px;
  height: 48px;
  border-radius: 50%;
}

.title {
  display: flex;
  flex-direction: column;
  padding-top:19px;
}

.title h1 {
  font-size: 40px;
  font-weight: 800;
}

.title h2 {
  font-size: 18px;
  font-weight: 400;
  color: #939393;
}

.container-title-mode {
  display:flex;
  justify-content: space-between;
}

.mode {
  padding-top: 24px;
}

.dark-mode {
  display:flex;
  gap:13px;
}

.dark-mode img {
  cursor: pointer;
}

.thumbnail {
  display:flex;
  gap:24px;
  padding-top: 28px;
}

/*---------------Sidebar---------------*/

nav {
  min-width:160px;
  font-size:20px;
}

.last-search.selected {
  font-weight: bold;
}

.links-navbar, .links-time, .links-popular {
  display:flex;
  flex-direction: column;
}
.links-navbar {
  font-weight: 700;
  gap: 14px;
}

.links-home {
  color: #BF5FE1;
  text-decoration: none;
}

.links-dark {
  color: #FFF;
  text-decoration: none;
}

.links-time {
  margin-top: 37px;
  gap: 16px;
}

.links-time a, .links-popular2 a {
  color: #FFF;
  text-decoration: none;
}

.links-popular2, .links-time2 {
  display: flex;
  gap: 11px;
}

.links-popular {
  margin-top: 55px;
}

.links-popular h2 {
  margin-bottom: 18px;
  color: #FFF;
  font-size: 22px;
  font-weight: 700;
}

.links-popular2 {
  margin-bottom: 10px;
}

/*---------------Modal log out---------------*/

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #FFF;
  border-radius: 20px;
  width: 370px;
  height: 270px;
  margin: 200px auto;
  text-align: center;
  padding: 32px 32px 32px 32px;
}

.title-modal,
.text-modal{
  color: #000;
  align-self: center;
}

.modal-buttons {
  margin-top: 20px;
}

#confirmLogout,
#cancelLogout {
  color: #BF5FE1;
  border-style: none;
  background-color: #FFF;
  border-radius: 8px;
  width: 300px;
  height: 45px;
}

#confirmLogout:hover,
#cancelLogout:hover {
  cursor: pointer;
  background-color: #BF5FE1;
  color: #FFF;
}

/*overlay*/
.overlay-active .card {
  /* Estilos del overlay para los cards */
  opacity: 0.5;
  pointer-events: none;
}

.search-overlay {
  position: absolute;
  width: 100vw;
  height: 100%;
  background-color: rgba(0,0,0,0.4);
}